.App {
  text-align: center;
  flex-wrap: wrap;
}

body {
  background-color: rgb(179, 245, 239);
}

.profil-konten {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 15px 15px 15px 15px;
}

.profil-konten > div {
  margin: auto;
  padding: 15px;
}

.konten {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(128, 206, 252);
  margin: 0 5px;
  gap: 35px;
  border-radius: 15px;
  width: 450px;
}

.foto {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin: 0 15px 0 15px;
}

.kontak-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 0 25px;
  padding: 25px 15px 25px 15px;
}

.nama {
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: bolder;
}

.telefon {
  padding: 0 0 10px 0;
}

.sub-title{
  align-items: center;
  border-bottom: solid;
  border-bottom-style: dotted;
  border-color: rgb(248, 81, 164);
  margin: 0 500px 0 500px;
  padding: 5px 0 15px 0;
}
